.asistencia-wrap {
    padding: 10px 0px;
}

.asistencia-title {
    text-align: start;
    color: #575756;
    font-size: 20px;
}

.hasta {
    color: #8F8F8F;
    font-size: 12px;
    text-align: right;
    margin-bottom: 8px;
}