/* * {
    font-family: 'GothamNarrowBold', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
} */

.card {
    /* color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.5; */
}

.card-header {
    color: #FAFAFA;
    padding: 0px;
    background-color: #34BBDA;
    width: 270px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 15px;
}

.advise {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #34BBDA;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.header {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding-top: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 16px;
    background-color: #204F7D;
}

.price-month {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.price-month-value {
    color: #F6F6F6;
    font-size: clamp(2rem, 30.76vw - 4.15rem, 4.5rem);
}

.price-day {
    color: #F6F6F6;
    font-size: 27px;
}

.subheader {
    padding: 9px;
    font-size: clamp(1.125rem, 1.5384vw + 0.817rem, 1.25rem);
    text-align: center;
    line-height: 1;
    background-color: #88D0EA;
}

.body {
    background-color: #F6F6F6;
}

.item {
    text-align: start;
    padding: 10px 0px;
}

.imagen {
    margin: 0px 20px;
}

.asistencia-wrap {
    padding: 0px 30px;
}

.asistencia-title {
    text-align: start;
    color: #575756;
    font-size: 20px;
}

.hasta {
    color: #8F8F8F;
    font-size: 12px;
    text-align: right;
    margin-bottom: 8px;
}

.asistencia-item-title {
    color: #575756;
    font-size: 14px;
    text-align: start;
}

.asistencia-item-price {
    color: #575756;
    font-size: 14px;
    text-align: end;
}

.asistencia-item-description {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    text-align: start;
}

.cobertura-item-title{
    font-size: 14px;
    color: #204F7D;
    font-size: clamp(0.75rem, 1.538vw + 0.442rem, 0.875rem);
    font-family: 'GothamNarrowLight', 'Helvetica', 'Arial', sans-serif;
    text-align: start;
}

.cobertura-item-price{
    color: #204F7D;
    font-size: clamp(0.75rem, 1.538vw + 0.442rem, 0.875rem);
    font-family: 'GothamNarrowBold', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
}