.asistencia-item-title {
    color: #575756;
    font-size: 14px;
    text-align: start;
    font-weight: bold;
    text-transform: uppercase;
}

.asistencia-item-price {
    color: #575756;
    font-size: 14px;
    font-weight: bold;
    text-align: end;
}

.asistencia-item-description {
    font-size: 0.875rem;
    color: #706f6f;
    font-weight: 400;
    text-align: start;
}